$menu-color:#ffffff;
$room-header:#63694E;
$footer:#050238;
$font-size:1.5rem;
$text-style:center;
//menu
.topnav .icon {
  display: none;
}
li a {
  color: $menu-color;
  font-family: Futura;
  font-weight: bold;
  font-size: $font-size;
}
//header
.title h1{
  font-weight:bolder;
  font-size: 3.5rem;
  color: $menu-color;
}
h2{
  font-style:italic;
  font-size: 1.3rem;
  font-weight:400;
  color: $menu-color;
}
//room1&2
.container{
  margin-top:30px;
  margin-bottom: 30px;
  padding:0 0 0 0;
}
.container h1{
  font-family: futura;
  font-weight: bold;
  color: $room-header;
  font-size: 1.5rem;
}
.container p{
  font-family: futura;
  color: $room-header;
  font-size: 1rem;
}
.link{
font-family: futura;
color: $room-header;
}
.link a{
  color: $room-header;
  text-decoration: underline;
}
//footer
footer p{
  font-family: futura;
  color: $footer;
}
