@import 'variable';
//header Picture
.navbar-toggler {
  border:0;
}
.branding .title{
  text-align: center;
}
.title h1{
  text-align: center;
  width: 80%;
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2{
  text-align: center;
  width: 80%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//main room 1&2
.container h1{
  text-align: center;
}
.container p{
  text-align: justify;
}
.link{
  text-align: center;
}
//footer
.social{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.ins{
  margin-left: 40px;
}
footer p{
  text-align: center;
}
footer a{
  text-align: right;
  margin-bottom: 30px;
  margin-right: 30px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
  background-color: yellow;
  }
  .img-responsive {

  }
  .title h1{
    text-align: center;
    width: 80%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h2{
    text-align: center;
    width: 80%;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// // Medium devices (tablets, 768px and up)
@media (min-width: 768px){
  .container {
    background-color: black;
  }
.col h1{
  margin-top: 30px;
}

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){
  .container{
    background:pink;
  }

}
